body {
  height: 100vh;
}

#root {
  height: 100%;
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.container {
  border: 10px solid #61dafb;
  height: 100%;
}

.secondContainer {
  border: 10px solid #747bff;
  width: 300px;
  margin-left: auto;
}

.secondContainerTitle{
  font-weight: bold;
  text-align: center;
}

.secondContainerBody{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.secondDots {
  width: 10px;
  height: 10px;
  background-color: #747bff;
  margin: 5px;
}