body {
  height: 100vh;
}

#root {
  height: 100%;
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.container {
  border: 10px solid #61dafb;
  height: 100%;
}